*.sw*
/*.src.rpm
/*.log
/test/notes
!/debian/changelog
!/debian/control
!/debian/copyright
!/debian/dh-package-notes.install
!/debian/dh-package-notes.manpages
!/debian/generate-package-notes.1
!/debian/rules
!/debian/source/format
__pycache__/
/dlopen-notes.1
